.navbar__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0;

  border-bottom: 2px solid #333;

  li {

    .active {
      color: #ffffff9f;

    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
    }
  }
}